.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.56rem;
  margin-top: 30px;
}
body {
  /* background-image: url(/galaxy.gif); */
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
  min-width: 900px;
  flex-wrap: wrap;
}
.flex-container::before {
  content: "";
  position: absolute;
  background-color: rgb(183, 183, 183);
  opacity: 0.3;
  /* width: 107%; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-weight: 800;
}

#mass {
  padding: 10px 15px;
  width: 35%;
  border-radius: 6px;
}

select {
  padding: 11px 15px;
  border-radius: 7px;
}
.calculateBtn {
  width: 150px;
  padding: 10px;
  font-weight: 600;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  background-color: #928b8b;
  border: none;
  /* letter-spacing: -0.7rem; */
  /* letter-spacing: -0.7rem; */
}

img {
  display: block;
  width: 80%;
  height: 80%;
}
.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
    width: 500px;
    display: flex;
    text-align: center;
    color: white;
    padding: 13px;
    position: relative;
    font-weight: 600;
    align-items: center;
    flex-direction: column;
}

.description::before {
    content: "";
    position: absolute;
    background-color: rgb(183, 183, 183);
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.no-overlay{
    display: none; /* This rule will hide the overlay */
}
